// $var
$color: rgb(238, 237, 238);
$accent-color: #da21ea;
$white: white;

// @mixin




// ----------- //
.btn-reset {
	border: none;
	background: transparent;
}

.hide {
	display: none;
}


body {
	// *DON'T FORGET ABOUT FONTS
	font-family: 'Nunito', sans-serif;
	font-size: 25px;
	color: $color;
	font-weight: 400;
	background: linear-gradient(#2C3E50, #131313);
	background-repeat: no-repeat;
	background-size: cover;
}

.container {
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 15px;
}

.title {
	text-align: center;
}

.wrapper {
	margin-top: 25px;
	display: flex;
	flex-direction: column;
	align-items: center;
}


input {
	margin-top: 15px;
	padding: 0 10px;
	border-radius: 5px;
	background-color: beige;
}

select {
	margin-top: 15px;
	border-radius: 5px;
	background-color: beige;
	font-size: 25px;
	font-weight: 600;
}

.btn {
	margin-top: 50px;
	padding: 7px;
	border-radius: 5px;
	background-color: beige;
	transition: background-color 0.2s ease-in;
}

.btn:hover {
	background-color: rgba(245, 245, 220, 0.81);
}

.result {
	margin-top: 10px;
	font-size: 35px;
	color: white;
	font-weight: 900;
	word-break: break-all;
}

.block-result {
	margin-top: 30px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #2f4a65;
	border-radius: 10px;
	max-width: 283px;
}